/* ==========================================================================

THE PROJECT NAME HERE
Version: 1.0
URL: http://projectname
Author: theblueshome

main.scss - primary Sass file

========================================================================== */

// Modules
@import "partials/base";

// Partials
@import "partials/normalize";
@import "partials/typography";
@import "partials/layout";

// Third-party

