// ==========================================================================

// THE PROJECT NAME HERE
// Version: 1.0
// URL: http://projectname
// Author: theblueshome

// typography.scss

// ==========================================================================
// family:             Arial:       system


// ==========================================================================
// basic setting
// ==========================================================================

// variables
$default-font-family:   Arial, sans-serif;
$alt-font-family:       Arial, sans-serif;
$default-font-style:    normal;
$font-smoothing:        antialiased;

body {

}
p {

}

// Headers
h1, h2, h3,{

}

// Elements
b {

}
i {

}



