/* ==========================================================================

THE PROJECT NAME HERE
Version: 1.0
URL: http://projectname
Author: theblueshome

vars.scss - All your projects variables here

========================================================================== */

// compass vars
$base-font-size: 16px;        
$base-line-height: 24px;      

// project vars

// colors
$background-color: #fff;
$foreground-color: #000;

// fonts
$default-font-family: Arial, sans-serif;
$alt-font-family: Georgia, serif;
$default-font-style: normal;