/* ==========================================================================

THE PROJECT NAME HERE
Version: 1.0
URL: http://projectname
Author: theblueshome

vars.scss - All your projects variables here

========================================================================== */

// compass vars
$base-font-size: 16px;        
$base-line-height: 24px;      

// project vars
$background-color: #fff;
$foreground-color: #000;